@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorWebApp
@inject BlazorWebApp.Data.ApplicationDbContext DB

<QuickGrid Class="table" Items="DB.Movie" Pagination="pagination" >
    <PropertyColumn Property="model => model.Title" />
    <PropertyColumn Property="model => model.ReleaseDate" />
    <PropertyColumn Property="model => model.Genre" />
    <PropertyColumn Property="model => model.Price" />
    <PropertyColumn Property="model => model.Rating" />

    <TemplateColumn Context="model">
        <a href="@($"movies/edit?id={model.Id}")">Edit</a> |
        <a href="@($"movies/details?id={model.Id}")">Details</a> |
        <a href="@($"movies/delete?id={model.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

<Paginator State="pagination" />

@code {
    PaginationState pagination = new PaginationState() { ItemsPerPage = 5 };
}
